body {
  font-family: Arial, sans-serif;
  background-color: #fef7e0;
  color: #333;
  max-width: 800px;
  margin: auto;
  padding: 10px;
}
hr {
  border: 0;
  height: 1px;
  background-color: #b9ac83;
  margin: 0 0 1px 0; /* Sin margen arriba, más espacio abajo */
  box-shadow: 0 6px 18px rgba(245, 242, 231, 0.594); /* Sombra amplia y muy suave */
}
header, footer {
 text-align: center;
 margin-bottom: 30px;
 background-color: #faeab6;
 padding: 10px;
}
body, h1 {
    font-family: 'Segoe UI Emoji', 'Noto Color Emoji', 'Arial', sans-serif;
}
h1 {
  color: #5c4d7d;
  font-weight: bold;
}

a {
  color: #0077cc;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}
