<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" 
    content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap y CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-LN+7fdVzj6u52u30Kp6M/trliBMCMKTyK833zpbD+pXdCLuTusPj697FH4R/5mcr" crossorigin="anonymous">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="icon" href="../img/Airbnmi_icon_favicon.ico"type="image/png+xml">
    <title>Airbnmi | Servicios</title>
</head>
<body>
  <header class="airbnmi-header">
    <div class="logo">
      <img src="../img/Airbnmi_icon2.png" alt="Airbnmi logo">
    </div>
    <nav>
      <ul>
        <li>
          <a href="../../index.html">
            <img src="../img/alojamiento_icon.png" alt="Alojamiento"><p>Alojamiento</p>
          </a>
        </li>
        <li>
          <a href="../views/experiencias.html">
            <img src="../img/experiencias_icon.png" alt="Experiencias">
            <p>Experiencias</p>
          </a>
        </li>
        <li class="active">
          <a href="../views/servicios.html">
            <img src="../img/servicios_icon.png" alt="Servicios">
            <p>Servicios</p>
          </a>
        </li>
      <li>
        <a href="Formulario.html">
          <img src="../img/contacto-icono.png" alt="Contacto">
          <p>Contacto</p>
        </a>
      </li>
      </ul>
    </nav>
  </header>
  <!-- CONTENIDO PRINCIPAL -->
  <main class="main-layout">
    <section class="main-content">
  <div class="container">

  <!-- Carrousel con cuatro fotos -->

<div id="carouselServiciosFade" class="carousel slide carousel-fade" data-bs-ride="carousel" data-bs-interval="3000">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="../img/servismasaje3.jpg" class="d-block w-100" alt="Masajes">
    </div>
    <div class="carousel-item">
      <img src="../img/servisfoto1.jpg" class="d-block w-100" alt="Fotos">
    </div>
    <div class="carousel-item">
      <img src="../img/servisyoga1.jpg" class="d-block w-100" alt="Yoga">
    </div>
    <div class="carousel-item">
      <img src="../img/Servisentrena1.jpg" class="d-block w-100" alt="Entrenamiento">
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselServiciosFade" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselServiciosFade" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>


<h2 class="section-title">Servicios personalizados para enriquecer tu viaje</h2>
<p class="section-text">
  En Airbnmi reunimos experiencias pensadas para reconectar, moverte y disfrutar con estilo. Paseá por Roma en un auto vintage capturando recuerdos auténticos, entrená con Vicky y su método dinámico que fusiona danza y fuerza funcional, relajate con los masajes sensoriales de Vanessa que equilibran cuerpo y mente, o viví el ritual de yoga de Ana en entornos naturales únicos. Cada servicio fue diseñado para sumar bienestar y personalidad a tu estadía.
</p>
  </section>

<!-- Aside -->
<aside class="aside-testimonios">
  <h1>Experiencias reales</h1>
  <h2>Comentarios destacados de viajeros</h2>

    <!--Testimonio 1 -->
  <div class="testimonio">
    <img src="../img/usuarios2.jpg" alt="Usuario 2" class="user-img">
    <p class="user-comment">“Madrid nos sorprendió. La cabaña era silenciosa y muy luminosa. ¡Volveremos!”</p>
  </div>
  
  <!-- Testimonio 2  -->
  <div class="testimonio">
    <img src="../img/usuaruios6.jpg" alt="Usuario 6" class="user-img">
    <p class="user-comment">“Ubicación perfecta para recorrer la ciudad a pie. Volvería sin dudarlo.”</p>
    </div>
</aside>
</main>

<!-- Footer -->
<footer class="airbnmi-footer">
  <div class="footer-container">
    <!-- Informacion -->
    <section class="footer-info">
      <h2>Autor</h2>
      <p>Lic. Miriam Bay - San Rafael, Mendoza, Argentina</p>

      <h2>Formación</h2>
      <p>Potrero Digital - Front-End</p>

      <h2>Contacto</h2>
      <p><a href="mailto:miriambay2020@gmail.com">miriambay2020@gmail.com</a></p>
      <p>Celular: +54 9 260 4000736</p>

      <h2>Página de referencia</h2>
      <p><a href="https://www.airbnb.com.ar" target="_blank">Airbnb</a></p>

      <h2>Año de creación</h2>
      <p>2025</p>
    </section>
<!-- Video a Airbnb -->
    <section class="iframe-container">
      <h2>Video de referencia</h2>
      <iframe width="560" height="315" src="https://www.youtube.com/embed/pjydd52XNJ0?si=GtQmrm0peMp1VeVd" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
    </section>
    </div>
</footer>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/js/bootstrap.bundle.min.js" integrity="sha384-ndDqU0Gzau9qJ1lfW4pNLlhNTkCfHzAVBReH9diLvGRem5+R9g2FzA8ZGN954O5Q" crossorigin="anonymous"></script>
</body>
</html>